@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Lexend+Peta&display=swap');

body {
	background-color: cyan;
}
section{
	background-color: yellow;
	text-decoration: underline;
	color: red;
}
aside{
	font-family: 'Lexend Peta', sans-serif;
	background-color: yellow;
}
footer{
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
}
li{
	list-style: none;
	
}
